<h3><%= @survey.title %></h3>

<form action="/surveys/<%= @survey.id %>/responses" method="post">
  <% @survey.questions.each do |question| %>
    <h5><%= question.prompt %></h5>
    <% question.choices.each do |choice| %>
      <input type="radio" name="response[<%= question.id %>]" value="<%= choice.id %>"><%= choice.content %><br>
    <% end %>
    <br>
  <% end %>
  <br>
  <input class="submit-btn" type="submit" value="Submit"/>
</form>
