<section>
  <div>
    <h3><%= @user.username %>'s profile page<h3>
    <ul>
      <h5>Surveys created by <%= @user.username %><h5>
      <% @surveys_written.each do |written| %>
          <p><a href="/surveys/<%= written.id %>"><%= written.title %></a></p>
        <% end %>
      </br>
      <h5>Surveys taken by <%= @user.username %><h5>
        <% @surveys_taken.each do |taken| %>
          <p><%= taken.title %></p>
        <% end %>

    </ul>
  </div>
</section>

