<section>
  <div>
    <h1><%= @user.username %>'s profile page<h1>
    <ul>
      <h3>Surveys created by <%= @user.username %><h3>
      <% @surveys_written.each do |written| %>
          <p><a href="/surveys/<%= written.id %>"><%= written.title %></a></p>
        <% end %>
      </br>
      <h3>Surveys taken by <%= @user.username %><h3>
        <% @surveys_taken.each do |taken| %>
          <p><%= taken.title %></p>
        <% end %>

    </ul>
  </div>

